*.bak
*.lo
*.o
*~
.deps
.libs
Makefile
Makefile.in
TAGS
/COPYING
/ChangeLog
/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/po/*.gmo
/po/*.pot
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/so_locations
/stamp-h1
