*.bak
*.lo
*.o
*.orig
*.rej
*.tab.c
*~
.*.sw[nop]
.deps
.dirstamp
.libs
Makefile
Makefile.in
/COPYING
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/po/*.pot
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/so_locations
/stamp-h1
/tags
